@import "tailwindcss";

:root {
  --background: #41644A;
  --foreground: #F2E3DB;
  /* --font-anton: 'Anton', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-jetbrainsmono: 'JetBrains Mono', monospace; */
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px; /* Ensures spacing on smaller screens */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}  


@media (prefers-color-scheme: dark) {
  :root {
    --background: #41644A;
    --foreground: #F2E3DB;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald), sans-serif;
} 


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
